.service{
    padding: 90px 60px 80px;
    gap: 60px;
    background-color: black;
    color: white;
}

.service-content{
    align-items: center;
    justify-content: center;
    margin: 50px 140px;
    max-width: 600px;
}

.service-text{
    color: rgba(232, 81, 35, 0.9);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.card-container{
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
    margin-left: 140px;
    margin-right: 140px;
}
.card-1{
    padding: 20px 30px 40px;
    border-radius: 20px;
    width: 1000px;
    height: 300px;
    background-color: rgb(23, 23, 24);
    border: 1px solid rgb(51, 50, 50);
}

.card-1-title{
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.card-1-description{
    font-size: 15px;
    color: rgb(135, 134, 134);
}

.card-1:hover{
  transform: translateY(-6px);
  transition: 0.1 ease;
}

.card-2{
    padding: 20px 30px 40px;
    border-radius: 20px;
    width: 1000px;
    height: 300px;
    background-color: rgb(48, 48, 50);
}

.card-2:hover{
    border: 2px solid rgba(232, 81, 35, 0.9);
    transform: translateY(-6px);
}

.card-2-title{
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.card-2-description{
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(135, 134, 134);
}

.card-3{
    padding: 20px 30px 40px;
    border-radius: 20px;
    width: 1000px;
    height: 300px;
    background-color: rgb(23, 23, 24);
    border: 1px solid rgb(51, 50, 50);
}

.card-3-title{
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.card-3-description{
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(135, 134, 134);
}

.card-3:hover{
    transform: translateY(-6px);
    transition: 0.1 ease;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr; /* stack cards */
    gap: 20px;
  }

  .service-card {
    text-align: center;
  }
}